

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background-color: #E5E5E5;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,e5e5e5+100 */
background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #fcfcfc 0%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #fcfcfc 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #fcfcfc 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

/*----- HEADER STYLING -----*/
.googleImage{
	float: right;
	opacity: 0.6;
}
.line{
	margin-left: 15%;
	border-bottom: 1.5px solid rgba(0,0,0,0.2);
}

/*NAV*/
.navbar{
	margin-bottom: 0;
}
nav ul{	
	margin-top: 10px;
	float: right;
}
nav ul li{
	float: left;
	list-style-type: none;
	margin-left: 20px;
}
nav ul li a{
	font-size: 1.1em;
	color: rgba(0,0,0,0.5);
}
nav ul li a:hover{
	text-decoration: none;
	color: rgba(0,0,0,1);
}
nav ul li img{
	padding-bottom: 4px;
	padding-right: 4px;
}

/*CAROUSEL*/
.carouselContain{
	background-color: #fff;
	padding: 5px;	
	max-width: 893px;
	margin: 0 auto;
	box-shadow: 0 0 10px #555;
}
.carousel-indicators{
	bottom: -40px;
	margin-bottom: 0;
}

/*----- ACCENT BAR STYLING ------*/
.accentBar{
	margin-top: 50px;
	background-image: url("../img/micro_carbon.png");
	color: #eee;
	box-shadow: 0 0 10px #555;
}
.accentRow{
	margin: 10px 2%;
}
.accentRow ul li{
	list-style-type: none;
}
.accentRight{
}
.textEquation{
	margin-top: 10px;
	padding: 0;
	color: rgba(255,255,255,0.5);
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
.textEquation li a{
	color: rgba(255,255,255,0.5);
	float: right;
}
.blueText{
	color: rgba(33,150,255,0.7);
}
.greenText{
	color: rgba(113,232,94,0.7);
}
.accentBar h4{
	color: rgba(255,255,255,0.5);
	font-size: 1.2em;
	margin-bottom: 30px;
}


.wordsAbout{
	display: inline-block;
}
.wordsAbout h2 {
	display: inline-block;
}
.wordsAbout img{
	margin:10px 30px;
}
.wordsAbout i{
	float: right;

}
.wordsAbout strong{
	position: relative;
    top: 8px;
}
.fa{
	
	    width: 23px;

}
.row{
	margin-right: -20px;
	margin-left:-20px;
}
.block-right p{
	    font-size: 16px;
    margin: 0 17px;
}

.block-right{
	display: inline-block;
	    position: relative;
    /* right: -87px; */
    float: right;
    top: 34px;
}
.block-right p{
	float: left;
}
.wrap1 img, .wrap2 img{
	    width: 95%;
    background: #fff;
    border: 1px solid lightgray;
    padding: 5px;
    display: block;
    margin: auto;
}
.wrap2 img{
	width:100%;
}
.wrap1 h2, .wrap2 h2 {
    color: #40A6F3;
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
}
.wrap1 p{
	
}
.border-shadow{
	    border-top: 1px solid lightgray;
    padding: 15px 0;
}

.blue{
	color: #40A6F3;
    font-size: 16px;
}
.white-box {
    background: #fff;
    padding: 13px;
    text-align: center;
}
.white-box .fa{
	position: relative;
}

.button{
	background: #40A6F3;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    /* margin: auto; */
    display: block;
    margin: auto;
    width: 200px;
    margin-bottom: 10px;
}
.empty-box{
	height: 300px;
}
.row2{
	margin:0 -35px;
	padding-top: 35px;
}
.img2{
	       float: right;
    position: relative;
    right: 115px;
    margin: 20px 0;
    margin-top: 0;
}
footer{
	background-color: #fff;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	padding: 20px 0;
	text-align: center;
	position: relative;
}
footer img{
	width: 65px;
}
footer li{
display: inline-block;
padding: 0 48px;
}
footer p{
	display: inline-block;
	margin: 0;

}
footer .right-p{
	float: right;
}
.bottom-blue{
	background-color: #40A6F3;
	padding: 20px;
	color: #fff;
	text-align: left;
	position: absolute;
	width: 1180px;
	left:-20px;
	padding: 10px 20px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}




